
  
  html {
    font-family: sans-serif;
    font-size: 20px;
  }
  
  body {
    width: 450px;
    background: rgb(0, 0, 0);
    color:white;
    margin: 0 auto;
    padding: 2px;
    height: 450px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
  
  p.title {
    color: rgb(233, 230, 44);
    font-size: 30px;
    font-weight: bold;
    font-family: "Times New Roman";
    text-align: center;
  }

  p.current{
    text-align: right;
    font-size: 20px;
    color:white;

  }